

body{
    margin: 0;
    padding: 0;
    border: 0;
    float: left;
    width: 100%;
}

.background{
    width: 100.3%;
    height: 65vw;
    margin:-5px; 
    border: 0%;
}

.logoMCAR{
    position: absolute;
    top:0%;
    left:45%;
    height: 15%;
}

h1{
    position: absolute;
    top: 82%;
    left: 2%;
    font-family: 'Playfair Display', serif;
    font-size: 4vw;
    color: white;
    width: 80%;
    letter-spacing: 0.2vw;
}

.slogan{
         position: absolute;
         top:51%;
         left:2%;
         font-family: 'Playfair Display', serif;
         font-size: 6vw;
         color: white;
         text-align: left;
         font-weight: bold;
         line-height: 95%;
         width: 80%;
}

.boutonessai{
    position: absolute;
    width: 3.4vw;
    left: 72.8%;
    top:136%;
    z-index: 2;
}

button{
    position: absolute;
    top:136%;
    right:3%;
    font-family: 'Playfair Display', serif;
    font-size: 2vw;
    width: 24vw;
    cursor: pointer;
    transition: 0.2s;
    text-shadow: 0px 1px 0px white;
    color: black;
}

button a{
    text-decoration: none;
    color: rgb(32, 31, 31);
}

button:active{
     color:darkgrey;
     background: linear-gradient( rgb(255, 255, 255), rgb(226, 226, 226));
}
    
button:hover{
    background-color: bisque;
}

#photos1{
    float: left;
    width: 100%;
    height: auto;
    float: left;
}

/* partie gauche de bastien dans section*/
#header{
    width: 100%;
    float: left;
}

/*Premier Paragraphe*/

#gauche{
  display: flex;
  width: 100%;
  margin-bottom: -5px;
}

#lesparas{
    width: 50%;
}

#lesparas p{
    padding-left: 9%;
    padding-right: 9%;
    line-height: 150%;
    font-family: 'Lato', sans-serif;
    font-size: 1.5vw;
}

.faceavant{
    width: 51%;
    z-index: -1;
}

.faceavant img{
    width: 100%;
}

  
h2{ 
      padding: 5% 9% 0% 9%;
      font-size: 3vw;
      width: 80%;
      font-style: normal;
      font-weight: inherit;
      line-height: 90%;
      text-transform: uppercase;
   
}

.futur{
    margin-left: 9%;
    font-size: 1.5vw;
    font-family: 'Playfair Display', serif;
    margin-top: 20%;
}

/*Deuxieme Paragraphe*/

#gauchebis{
    display: flex;
    flex-direction: row-reverse;   
}


img.bmarriere {
    width:49.2vw;
    float: left;
    }

#lesparas2{
    width:50%;
    float: right;
    margin-left: 5%;
    padding: 2% 3% 0% 0%;
}

#lesparas2 p{
    font-family: 'Lato', sans-serif;
    font-size: 1.7vw;
    border-bottom: black solid 1px;   
    padding-bottom: 4%;
}


.caracteristique2{
    font-family: 'Lato', sans-serif;
    font-size: 1.7vw;
}
    
.space{
    float: right;
    margin-right: 4%;}

/* partie droite marasy dans section*/

#droite{
    width: 51%;
    height: 50%;
    justify-content:flex-start;
    float: right;
}

/* texte Nouveau MCAR MC-I crossover*/

.bouton {
  background-color: rgb(5, 5, 5);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Playfair Display', serif;
}

/* partie gauche dans section*/
#gauche1{
    float: left;
    font-family: 'Playfair Display', serif;
    font-size: 1.5vw; 
    width: 49%;
}


h5{
    font-size: 3vw;
    width: 70%;
    margin-left: 9%;
    margin-bottom: auto;
    margin-top: 10%;
    line-height: 100%;
    text-transform: uppercase;
    font-style: normal;
    font-weight: inherit;   
}

.matériaux {
    margin-top: 0%;
    margin-left: 9%;
    margin-bottom: 8%;
    font-family: 'Playfair Display', serif;}

.texte{
    font-family: 'Lato', sans-serif;
    margin-left: 9%;
    width: 80%;}

#droite{ 
    width: 50.5%;
    height: 50%;
    float: right;  
}

.compteur{  
    float: left;
    width: 24.5vw;
    height: 16.8vw;
}

.phare{
    float: right;
    width: 25.5vw;
    height: 16.8vw;
}


 
/* partie formulaire */
/* photo de fond formulaire */

#formulaire{
    background-size: cover;
    background-image: url("bmw_4x4_brouillard.png");
    background-repeat:no-repeat;
    width: 100%;
    height: 62vw;
    float: left;
}
 
/* texte Nouveau MCAR MC-I crossover*/
#textebmw4{
    height: auto;
}

.reserver{
    font-size: 5vw;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    width: 65%;
    margin: 4% 0% 0% 8%;
    }


.nouveau{
    width: 60%;
    padding: 0%;
    font-size: 4vw;
    margin-left: 8%;
    margin-top:-20px;
    font-family: 'Playfair Display', serif;
}

fieldset.form{
    width: 32%;
    flex-direction: column;
    box-sizing: content-box;
    display: flex;
    float: right;
    padding: 0%;
    height: 460px;
    margin-right: 4%;
    margin-top: -2%;
    border: 0;
}

fieldset input{
    margin-bottom: 4%;
    font-weight: bold;
    padding-left: 1.5%;
    font-family: 'Lato', sans-serif;
}

.prenom{
    height: 9%;
    width: 100%;
    border: none;
}

.nom{
    height: 9%;
    width: 100%;
    border: none;
}

.email{
    height: 9%;
    width: 100%;
    border: none;
}

.telephone{
    height: 9%;
    width: 100%;
    border: none;
}

.codepostale{
    height: 9%;
    width: 100%;
    border: none;
}

.bouton {
  background-color: rgb(5, 5, 5);
  border: none;
  color: white;
  padding: 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3vw;
  font-family: 'Playfair Display', serif;
  font-weight: bold; 
  margin-left: 25%;
}
/* texte footer */

footer{
    background-color: #000;
    width: 100%;
    height: 105%;
    float: left;
    color: #fff;    
}

footer a { 
    text-decoration: none;
    color: white;
    justify-content: flex-start;
    padding: 0%
}

#partiegauche{
    float: left;
    margin-left: 6%;
    width: 20%;
    padding:2% 3% 0% 0%;
}

#partiegauche p{ 
    margin-top: 19%;
    width: 70%;
    line-height: 37px;
    font-family: 'Lato', sans-serif;
    font-size: 1.4vw;}


#milieu{
    float: left;
    padding: 2% 3% 6% 0%;
    width: 20%;
   }

#milieu p{
    margin-top: 8%;
    width: 90%;
    line-height: 37px;
    font-family: 'Lato', sans-serif;
    font-size: 1.4vw;
}


.universmcar{
     font-weight: bold;
     font-family: 'Playfair Display', serif;
     font-size: 1.8vw;
     padding-bottom: 14%;
    }
    

#social{
    float: right;
    padding: 0% 5% 0% 0%;
} 

#logo{
    margin-top: -20%;
}

#logo a{
    margin-right: 7%;}

/* rgpd formulaire */

#mc-embedded-subscribe-form input[type=checkbox]{
    display: inline;
    margin-right: 10px;
}

#mailchimp {
        float: right;
        font-family: 'Playfair Display', serif;
        font-size: 0.9vw;
        margin-top: 2%;
        padding: 0%;       
    }

fieldset.mc_fieldset label {
        font-weight: normal;
         float: left;
    }

fieldset.mc_fieldset{
    border: 0px;
}




/* MEDIA QUERYS*/
/* MEDIA QUERYS à mettre en taille iphone x*/
@media screen and (max-width: 375px) {


.background {
    width: 101.3%;
    margin: -5px;
}

.logoMCAR {
    position: absolute;
    top: 1%;
    height: 14%;
    margin-left:-45%;
}


.slogan {
    position: absolute;
    top: 13%;
    left: 2%;
    font-family: 'Playfair Display', serif;
    font-size: 6vw;
    color: white;
    text-align: left;
    font-weight: bold;
    line-height: 95%;
    width: 63%;
}

h1 {
    position: absolute;
    top: 19.5%;
    left: 2%;
    font-family: 'Playfair Display', serif;
    font-size: 4.5vw;
    color: white;
    width: 62%;
    letter-spacing: 0.2vw;
}

button {
    position: absolute;
    right: 0%;
    font-family: 'Playfair Display', serif;
    font-size: 4.9vw;
    width: 56vw;
    cursor: pointer;
    transition: 0.2s;
    text-shadow: 0px 1px 0px white;
    color: black;
    top: 25%;
}


button a {
    text-decoration: none;
    color: rgb(32, 31, 31);
    margin-left: 10%;
}

.boutonessai {
    position: absolute;
    width: 9.6vw;
    left: 43.8%;
    z-index: 2;
   top:24.5%;
}

.bouton {
    background-color: rgb(5, 5, 5);
    border: none;
    color: white;
    padding: 3%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3.6vw;
    font-family: 'Playfair Display', serif;
    margin-top: -5%;
    margin-left: 0%;
    font-weight: bold;
}

#gauche {
    display: flex;
    margin-top: 0%;
    width: 100%;
    margin-top: -7%;
    margin-bottom: -5px;
}

#lesparas {
    width: 50%;
}

.vision2 {
    padding-right: 9%;
    padding-left: 9%;
    line-height: 150%;
    font-family: 'Lato', sans-serif;
    font-size: 1.7vw;
    margin-bottom: 0%;
}

.faceavant {
    width: 51%;
    z-index: -1;
    float: left;
}

img.bmarriere {
    width: 49.5vw;
    float: right;
}

.reserver {
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    width: 63%;
    margin: 2% 0% 4% 4%;
    font-size: 7vw;
}

.nouveau {
    width: 45%;
    padding: 0%;
    font-size: 5vw;
    margin-left: 5%;
    margin-top: -16px;
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
}

fieldset.form{
    width: 40%;
    flex-direction: column;
    box-sizing: content-box;
    display: flex;
    float: right;
    padding: 0%;
    margin-right: 4%;
    margin-top: -35%;
    border: 0;
}

.prenom{
    height: 3.7%;
    width: 100%;
    border: none;
}

.nom{
     height: 3.7%;
    width: 100%;
    border: none;
}

.email{
     height: 3.7%;
    width: 100%;
    border: none;
}

.telephone{
     height: 3.7%;
    width: 100%;
    border: none;
}

.codepostale{
    height: 3.7%;
    width: 100%;
    border: none;
}

#mailchimp {
    float: right;
    font-family: 'Playfair Display', serif;
    font-size: 0.8vw;
    margin-top: 6%;
    padding: 0%;
}


.texte{
    font-family: 'Lato', sans-serif;
    font-size: 1.7vw;
    margin-left: 6%;
    width: 86%;}

.matériaux {
    font-size: 3.3vw;
    margin-left: 6%;}

h5 {
    font-size: 4vw;
    width: 88%;
    margin-left: 6%;
    margin-bottom: auto;
    margin-top: 5%;
}



}

