
body{
    margin: 0;
    padding: 0;
    border: 0;
    float: left;
    width: 100%;
    box-sizing: border-box;
}



.background{
    width: 102%;
    margin:-5px;
    float: right; 
}

.header{
    position: relative;
}

.logoMCAR{
    position: absolute;
    top:0%;
    left:45%;
    height: 15%;
}

h1{
    position: absolute;
    top: 81%;
    left: 2%;
    font-family: 'Playfair Display', serif;
    font-size: 4vw;
    color: rgb(206, 206, 206);
    width: 80%;
    letter-spacing: 0.2vw;
}

.slogan{
         position: absolute;
         top:50%;
         left:2%;
         font-family: 'Playfair Display', serif;
         font-size: 6vw;
         color: rgb(206, 206, 206);
         text-align: left;
         font-weight: bold;
         line-height: 90%;
         width: 80%;
}

.boutonessai{
    position: absolute;
    width: 3.4vw;
    left: 72.8%;
    top:138%;
    z-index: 2;
}

button{
    position: absolute;
    top:138%;
    right:3%;
    font-family: 'Playfair Display', serif;
    font-size: 2vw;
    width: 24vw;
    cursor: pointer;
    transition: 0.2s;
    text-shadow: 0px 1px 0px white;
   
    
}

button a{
    text-decoration: none;
 color: black;}

button:active{
    
     color:darkgrey;
     background: linear-gradient( rgb(255, 255, 255), rgb(226, 226, 226));
}
    
button:hover{
    background-color: bisque;
}

#photos{
    
    float: left;
    width: 100%;
    height: auto;
    float: left;
}

/* partie gauche de bastien dans section*/
#header{
    width: 100%;
    float: left;
}

/*Premier Paragraphe*/

#gauche{
  display: flex;
  margin-top: 4%;
  width: 100%;
}

#lesparas{
    width: 100%;
}

.faceavant{
    width: 100%;
    z-index: -1;
}

.faceavant img{
    width: 100%;
}

.vision1{
    padding-left: 9%;
    padding-right: 9%;
    line-height: 150%;
    font-family: 'Lato', sans-serif;
    font-size: 1.7vw;
}
  
  .vision2{
    padding-right: 9%;
    padding-left: 9%;
    line-height: 145%;
    font-family: 'Lato', sans-serif;
    font-size: 1.7vw;
}
  
  h2{
      padding-left: 9%;
      padding-right: 9%;
      padding-top: 3%;
      font-size: 3vw;
      width: 90%;
      font-style: normal;
      font-weight: inherit;
      line-height: 90%;
}

.futur{

padding-left: 9%;
margin-top: -4%;
padding-bottom: 2%;
font-size: 1.5vw;
}

/*Deuxieme Paragraphe*/

#gauchebis{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    margin-top: -11px;
   
}

#lesparas2{
    width:50%;
    margin-left: 20px;
    margin-bottom: 2%;
}

.bmarriere img{
    width:100%;
    
}
.space { float: right;}

.bmArriere{
    flex-direction: row-reverse;
    width: 52%;
    z-index: -1;
    margin-bottom: 2%;
}

.caracteristique1{
    font-family: 'Lato', sans-serif;
    font-size: 1.7vw;
    border-bottom: black solid 1px; 
    margin-left: 5%; 
    margin-right: 5%; 
    padding-bottom: 4%;
}

.caracteristique2{
    padding-bottom: 4%;
    font-family: 'Lato', sans-serif;
    font-size: 1.7vw;
    border-bottom: black solid 1px; 
     margin-right: 5%;
     margin-left: 5%;
    
}

.caracteristique3{
    padding-bottom: 4%;
    font-family: 'Lato', sans-serif;
    font-size: 1.7vw;
    border-bottom: black solid 1px;  
    margin-right: 5%; 
    margin-left: 5%; 

}

.caracteristique4{
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: 'Lato', sans-serif;
    font-size: 1.7vw;
    margin-left: 5%;
    margin-right: 5%; 
}
/* partie droite marasy dans section*/

#droite{
    
    width: 49.5%;
    height: 50%;
    justify-content:flex-start;
    float: right;
}

#photos1{
    margin-top: -2.3%;}

#photosdroite{
    width: 100%;
    justify-content:flex-start;
    flex:auto;
}


#photosdroite:hover{
    background-color: rgb(240, 234, 234);
}


/* partie formulaire */
/* photo de fond formulaire */
#formulaire{
    background-size: cover;
    background-image: url("bmw_4x4_brouillard.png");
    background-repeat:no-repeat;
    width: 100%;
    height: auto;
    float: left;
}

/* texte reserver votre essai */
#textebmw4{
    height: auto;
}



/* texte Nouveau MCAR MC-I crossover*/



fieldset{
    width: auto;
    height: auto;
    border: 1px red solid;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: content-box;
    display: flex;
    float: right;
}


.button {
  background-color: rgb(5, 5, 5);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Playfair Display', serif;
}


footer{
    background-color: #000;
    width: 100%;
    height: 100%;
    float: left;
    color: #fff; 
    
}

#partiegauche{
    float: left;
    padding: 2%;
    text-decoration: none;
}

#photos{

    width: 100%;
    height: auto;
    float: left;
}

/* partie gauche dans section*/
#gauche1{
    float: left;
    font-family: 'Playfair Display', serif;
    font-size: 1.5vw; 
    width: 49%;
}


h5{
    font-size: 4vw;
    width: 50%;
    margin-left: 9%;
    margin-bottom: auto;
    margin-top: 10%;
}

.matériaux {
    margin-top: 0%;
    margin-left: 9%;
margin-bottom: 8%;}



.texte{
    margin-left: 9%;
    width: 80%;}
/* partie droite marasy dans section*/

#droite{ 
    width: 50%;
    height: 50%;
    float: right;  
    box-sizing: border-box;
}

.compteur
{   float: left;
    width: 24.5vw;
    height: 18vw;
    margin: 0;
  padding: 0;
}


.phare{
    float: right;
    width: 24.5vw;
    height: 18vw;
}

.jante{
    float: left;
     width: 24.5vw;
    height: 18vw;
}

.interieur{
    float: right;
    width: 24.5vw;
    height: 18vw;
}

 
/* partie formulaire */
/* photo de fond formulaire */

.reserver{
    margin-left: 8%;
    font-size: 5vw;
    font-weight: bold;
   font-family: 'Playfair Display', serif;
   padding: 0%;
   width: 65%;
   margin: 4% 0 0 8%;
    }

/* texte Nouveau MCAR MC-I crossover*/

.nouveau{
    width: 60%;
    font-size: 3vw;
    margin: 0 8%;
    font-family: 'Playfair Display', serif;
}

/* partie formulaire */
#formulaire{
    background-size: 100% 100%;
    background-image: url("bmw_4x4_brouillard.png");
    background-repeat:no-repeat;
    width: 99.8%;
    height: 950px;
    float: left;
}


fieldset{
    width: 40%;
    flex-direction: column;
    box-sizing: content-box;
    display: flex;
    float: right;
    padding: 0%;
    height: 460px;
    margin-right: 4%;
    margin-top: 0%;
    border: 0;
}

fieldset input{
    margin-bottom: 4%;
    font-weight: bold;
    padding-left: 1%;
}

.prenom{
    height: 9%;
    width: 100%;
    border: none;
}

.nom{
    height: 9%;
    width: 100%;
    border: none;
}

.email{
    height: 9%;
    width: 100%;
    border: none;
}

.telephone{
    height: 9%;
    width: 100%;
    border: none;
}

.codepostale{
    height: 9%;
    width: 100%;
    border: none;
}

.button {
  background-color: rgb(5, 5, 5);
  border: none;
  color: white;
  padding: 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3vw;
  font-family: 'Playfair Display', serif;
  margin-left: 21%;
  margin-top: 10%;
  font-weight: bold;
  
  
}

/* texte footer */

footer{
    background-color: #000;
    width: 100%;
    height: 105%;
    float: left;
    color: #fff; 
    
}

footer a { 
    font-size: 1.5vw;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: white;
    justify-content: flex-start;
        padding: 0%
}

#partiegauche{
    float: left;
    padding: 3%;
    width: 15%;
    
}

#partiegauche p {
    padding-right: 4%;
    margin-left: 3%;
    
}


#milieu{
    float: left;
    padding: 3%;
    width: 20%;
   
    
}


 a.universmcar , a.conditions{
     font-weight: bolder;
     font-family: 'Playfair Display', serif;
     font-size: 1.8vw;
    }



/* partie tout à droite, reéseau */

#social{
    float: right;

    padding: 0% 5% 0% 0%;
}

.rejoignez{
    color: #fff;
    font-size: 2.5vw;
    padding-top: 0%;
    
}

#logo a{margin-right: 7%;}

#mc-embedded-subscribe-form input[type=checkbox]
    {display: inline;
         margin-right: 10px;
        }

	#mailchimp {
        float: right;
        font-family: 'Playfair Display', serif;
        font-size: 0.7vw;
        margin-top: 2%;
        padding: 0%;
       
    }

    .content__gdprLegal{}

	#mergeRow-gdpr fieldset label {
        font-weight: normal;
         float: left;
    }

    

	#mc-embedded-subscribe-form .mc_fieldset
    {border:none;
        min-height: 0px;
        padding-bottom:0px;}
    
    #mc_embed_signup{
        background:#fff; 
        clear:left; 
        font:14px Helvetica,Arial,sans-serif; }

        .mergeRow{border: rgb(71, 255, 230) 1px solid;}

.content__gdpr{
  width: 100%}